.question{ id: "question-#{question.id}"}  
  .card
    .card-header
      %h3= question.title
    .card-block{style:"min-height:100px;"}
      = question.body
    .card-footer.text-xs-right
      - if user_signed_in? && current_user.author_of?(question)   
        = link_to "Edit question", edit_question_path(question), class: "btn btn-outline-warning"
        = link_to "Delete question", question, method: :delete, data: { confirm: "Are you shure?"},
        class: "btn btn-outline-danger"