.question{ id: "question-#{question.id}"}  
  .card
    .card-header
      %h3= question.title
    .card-block
      = question.body
      %ul
        - @question.attachments.each do |a|
          %li= link_to a.file.identifier, a.file.url
    - if user_signed_in? && current_user.author_of?(question)   
      .card-footer
        = simple_form_for question, remote: true,
        html: { class: "edit-question", id: "edit-question-#{@question.id}"} do |f|
          = f.input :title
          = f.input :body
          = f.submit "Save", class:"btn btn-sm btn-outline-success float-xs-left"

        = link_to "Edit question", '', class: "edit-question-link btn btn-sm btn-outline-warning",
        data: { question_id: @question.id }
        = link_to "Delete question", question, method: :delete, data: { confirm: "Are you shure?"},
        class: "btn btn-sm btn-outline-danger float-xs-right"