.row
  = render @question
%br
%br    
%h2.text-xs-left Answers
%hr
.col-xs-12
  .answers
    = render @question.answers

  - if user_signed_in? 
    .offset-xs-4.col-xs-8
      = simple_form_for [ @question, @answer ], remote: true do |f| 
        = f.input :body, label: "Your answer"
        .short_attachments
          = f.simple_fields_for :attachments, @answer.attachments.build do |a|
            = render 'partials/attachment_fields', f: a
          .links
            = link_to_add_association 'add attachment', f, :attachments, partial: "partials/attachment_fields"
        = f.button :submit, "Create answer", class: "btn btn-info float-xs-right"
  - else
    %p.float-xs-right{ style:"color:red;"} Please sign in to answer!

    
