.col-xs-8
  = render @question
  %hr

  .answers
    /#best-answer
    = render @question.answers

  - if user_signed_in? 
    .offset-xs-4.col-xs-8
      = simple_form_for [ @question, @answer ], remote: true do |f| 
        = f.input :body, label: "Your answer"
        = f.button :submit, "Create answer", class: "btn btn-info float-xs-right"
  - else
    %p.float-xs-right{ style:"color:red;"} Please sign in to answer!

    
