- if answer.persisted?
  
  .answer{ id: "answer-#{answer.id}"}
    .blockquote
      %p= answer.body
      - if user_signed_in? && current_user.author_of?(answer)
        
        = link_to "Edit", '', 
        class: 'edit-answer-link btn btn-sm btn-outline-warning',
        data: { answer_id: answer.id }
        
        = simple_form_for answer, remote: true,
        html: { class:"edit-answer",id: "edit-answer-#{answer.id}"} do |f|
          = f.input :body
          = f.submit "Save", class:"btn btn-sm btn-outline-success"
          
        = link_to "delete", answer, method: :delete,
        class:"btn btn-sm btn-outline-danger"
    %hr    
