!!!
%html
  %head
    %title SimpleQuestions
    = Gon::Base.render_data
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .navbar.navbar-fixed-top.navbar-dark
      .container
        .navbar.navbar-brand
          %h4= link_to "Simple Questions", root_path, id: "logotip"
          
        - if user_signed_in?
          .nav.navbar-nav.float-xs-right
            .nav-item
              %i.fa.fa-user-o= " " + current_user.email
            .nav-item.nav-link
              = link_to "Log out", destroy_user_session_path(@user),
              method: :delete, class: "btn btn-gray btn-sm"
        -else      
          .nav.navbar-nav.float-xs-right
            .nav-item.nav-link
              = link_to "New user?", new_user_registration_path(@user),
              class: "btn btn-gray btn-sm"
            .nav-item.nav-link
              = link_to "Sign in", new_user_session_path(@user),
              class: "btn btn-gray btn-sm" 

    #ask_button
      - if can? :create, Question
        = link_to "Ask question", new_question_path, class: "btn btn-observ"
    %br

    .col-xs-9
      .offset-xs-2
        .row
          .messages
            .flash-messages
              = render 'partials/flash'
      = yield
