!!!
%html
  %head
    %title SimpleQuestions
    = csrf_meta_tags 
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %navbar.navbar.navbar-fixed-top.bg-inverse.navbar-dark
      .container
        - if user_signed_in?
          .nav.navbar-nav.float-lg-right
            .nav-item.nav-link.active
              = link_to "Log out", destroy_user_session_path(@user),
              method: :delete, class: "btn btn-sm btn-info"
        -else      
          .nav.navbar-nav.float-lg-right
            .nav-item.nav-link.active
              = link_to "New user?", new_user_registration_path(@user),
              class: "btn btn-sm btn-outline-info"
            .nav-item.nav-link.active
              = link_to "Sign in", new_user_session_path(@user),
              class: "btn btn-sm btn-info"

    .container
      .flash-messages   
        = render 'partials/flash'
      .error-messages
        = render 'partials/errors'   

    .container          
      .navbar.navbar-static-top{style:"margin-top:-20px;"}
        .navbar.navbar-brand
          %h3= link_to "Simple Questions", root_path, id: "logotip"
        %h1.float-xs-right#ask_button
          = link_to "Ask question", new_question_path, class: "btn btn-warning"

      %br

      = yield
