!!!
%html
  %head
    %title SimpleQuestions
    = csrf_meta_tags 
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .navbar.navbar-fixed-top.navbar-dark
      .container
        .navbar.navbar-brand
          %h3= link_to "Simple Questions", root_path, id: "logotip"
        - if user_signed_in?

          .nav.navbar-nav.float-xs-right
            .nav-item
              %i.fa.fa-user-o= " " + current_user.email
            .nav-item.nav-link
              = link_to "Log out", destroy_user_session_path(@user),
              method: :delete, class: "btn btn-sm btn-gray"
        -else      
          .nav.navbar-nav.float-xs-right
            .nav-item.nav-link.active
              = link_to "New user?", new_user_registration_path(@user),
              class: "btn btn-sm btn-white"
            .nav-item.nav-link.active
              = link_to "Sign in", new_user_session_path(@user),
              class: "btn btn-sm btn-gray" 

      
    .navbar.navbar-fixed-top.footer-navbar
      %ul
        %li Some link 1
        %li Some link 2
        %li Some Link 3

    %h1#ask_button
      = link_to "Ask question", new_question_path, class: "btn btn-lg btn-answer"

    %br
    .col-xs-9
      .row
        .messages
          .flash-messages
            = render 'partials/flash'
          .error-messages
            = render 'partials/errors'

      = yield
